.pager ul {
  display: flex;
  justify-content: center;
}
.pager ul li {
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  display: block;
  width: 30px;
  height: 30px;
  list-style: none;
  color: #7c7a7a;
  border: 1px solid rgb(243, 244, 246);
  font-size: 10px;
  margin: 0 5px;
}
.pager ul .ye.active {
  color: white;
  background-color: rgb(255, 82, 53);
}
