<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../font_img/font-home/iconfont.css">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../css/bottom-map.css">
    <link rel="stylesheet" href="../../css/way.css">
    <link rel="stylesheet" href="../../css/banner1.css">
</head>

<body>
    <div class="banner1">
        <div class="shop">
            <div class="shop-title">
                <div class="title-inner">
                    <h2>BLOG</h2>
                    <div class="title-a df"> <a href="#">Home</a>
                        <span></span>
                        <a href="">Blog</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>