<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comboBox</title>
    <link rel="stylesheet" href="../../css/way.css">
    <link rel="stylesheet" href="../../font_img/font-home/iconfont.css">
</head>

<body>
    <!-- li里的内容可任意修改 -->
    <div class="comboBox">
        <div class="comboBox-inner">
            Most Recent

            <span class="iconfont icon-xiajiantou active"></span>
            <span class="iconfont icon-shangjiantou"></span>
        </div>
        <div class="ul-out">
            <ul>
                <li class="active">Most Recent</li>
                <li>Alphabet</li>
                <li>Price</li>
            </ul>
        </div>

    </div>
    <script src="../../js/collection.js"></script>
</body>

</html>