<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navigation</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../font_img/font-home/iconfont.css">
    <style>
        body {
            height: 5000px;
            background-color: #ccc;
        }
    </style>
</head>

<body>
    <!-- 注：标签部分logo图片的路径需要修改 -->
    <div class="navigation">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <img src="../../img/logo/logo.png" alt="">
                </a>
            </div>
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="#">HOME
                            <div></div>
                        </a>


                    </li>
                    <li><a href="#">SHOP
                            <div></div>
                        </a></li>
                    <li><a href="#">COLLECTION
                            <div></div>
                        </a></li>
                    <li><a href="#">ABOUT
                            <div></div>
                        </a></li>
                    <li><a href="#">BLOG
                            <div></div>
                        </a></li>
                    <li><a href="#">CONTACT
                            <div></div>
                        </a></li>
                </ul>
            </div>
            <div class="span-icon">
                <div class="display-flex display-right">
                    <a href="#">
                        <span class="iconfont icon-tianchongxing-"></span>
                    </a>
                    <a href="#"><span class="iconfont icon-wodedangxuan"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="placement">
        <span class="iconfont icon-weibajiantoushang
"></span>
    </div>

    <script src="../../js/navigation.js"></script>
</body>

</html>